
  <div>
  	<h2> Total count is 100</h2>
  </div>
        <div>
            <ul>  <li>
                       <a>Boys = 40</a>
                   </li>
                   <li>
                       <a>Girsl = 60</a>
                   </li>
                  <li>
                       <a>Total Student = 100</a>
                   </li>
            </ul>
        </div>
-------------------------------------------------------------------------------------------------------------------------------------------------------
  <ui-view></ui-view>
 